<div class="container-bg">
  <%= render 'layouts/navbar'%>
  <div class="explore-container">
    <%= render 'layouts/left_sidebar'%>
    <div class="section-middle">
      <div class="asking-section" id="question-asked">
        <div class="asking-card">
          <div class="qna-card">
            <div class="avtar-response">
              <% if get_dashboard_instance(@question_instance.user_id) %>
                <% if get_dashboard_instance(@question_instance.user_id).image.attached? %>
                  <%= image_tag get_dashboard_instance(@question_instance.user_id).image %>
                <% else %>
                  <%= image_tag 'https://aui.atlassian.com/aui/8.8/docs/images/avatar-person.svg', class:'radius' %>
                <% end %>
              <% else %>
                <%= image_tag 'https://aui.atlassian.com/aui/8.8/docs/images/avatar-person.svg', class:'radius' %>
              <% end %>
            </div>
            <div class="full-name-question">
              <h3 class="user-full-name">
                <%= get_user_full_name(@question_instance.user_id) %>
              </h3>
              <h5 class="question-time-stamp">
                <%=@question_instance.created_at.to_fs(:short)%>
              </h5>
              <div class="question">
                <p><%=@question_instance.question%></p>
              </div>
              <div class="response">
                <div class="response-reaction">
                  <% pre_like = @question_instance.question_reactions.find { |like| like.user_id == current_user.id} %>
                  <% if pre_like %>
                    <%= button_to '',[@question_instance, pre_like], class: 'fa fa-thumbs-up like like-active', method: :delete %>
                  <% else %>
                    <%= button_to '', question_question_reactions_path(@question_instance),
                      class: 'fa fa-thumbs-up like',
                      method: :post %>
                  <% end %>
                  &nbsp;
                  <%=@question_instance.question_reactions.count%>
                  <%=(@question_instance.question_reactions.count) == 1 ? 'Like' : 'Likes'%>
                </div>
                <div class="response-delete">
                  <% if @question_instance.user_id == current_user.id%>
                    <div class="question-delete-form">
                    <%= button_to 'Delete', question_path(@question_instance), method: :delete,class:'btn-delete-question' %>
                    </div>
                  <%end%>
                </div>
              </div>
              <h3><%=@question_instance.answers.count%> <%=(@question_instance.answers.count) == 1 ? 'Answer' : 'Answers'%></h3>
              <%#=
              q.answers.joins(:answer_reactions).select('answers.*, COUNT(answer_reactions.id) as answer_reactions_count').group('answers.id').order('answer_reactions_count DESC').inspect 
              %>
              <% @question_instance.answers.each do |a|%>
                <div class="answer">
                  <div class="avtar-response">
                    <% if get_dashboard_instance(a.user_id) %>
                      <% if get_dashboard_instance(a.user_id).image.attached? %>
                        <%= image_tag get_dashboard_instance(a.user_id).image %>
                      <% else %>
                        <%= image_tag 'https://aui.atlassian.com/aui/8.8/docs/images/avatar-person.svg', class:'radius' %>
                      <% end %>
                    <% else %>
                      <%= image_tag 'https://aui.atlassian.com/aui/8.8/docs/images/avatar-person.svg', class:'radius' %>
                    <% end %>
                  </div>
                  <div class="full-name-question">
                    <h3 class="user-full-name"><%= get_user_full_name(a.user_id) %></h3>
                    <h5 class="question-time-stamp">
                      <%=a.created_at.to_fs(:short)%>
                    </h5>
                    <div class="question">
                      <p><%=a.answer%></p>
                      
                    </div>
                    <div class="response">
                      <div class="response-reaction">
                        <% pre_like = a.answer_reactions.find { |like| like.user_id == current_user.id} %>
                        <% if pre_like %>
                          <%= button_to '',[@question_instance,a, pre_like] ,class: 'fa fa-thumbs-up like like-active', method: :delete  %>
                        <% else %>
                          <%= button_to '',  question_answer_answer_reactions_path(@question_instance,a),class: 'fa fa-thumbs-up like', method: :post %>
                        <% end %>
                        &nbsp;
                        <%= a.answer_reactions.count %>
                        <%= (a.answer_reactions.count) == 1 ? 'Like' : 'Likes'%>
                      </div>
                      <div class="response-delete">
                        <% if a.user_id == current_user.id%>
                          <div class="question-delete-form">
                            <%= button_to 'Delete', [a.question, a], method: :delete,class:'btn-delete-question' %>
                          </div>
                        <%end%>
                      </div>
                      
                    </div>
                  </div>
                </div>
              <% end %>
              <%= form_for [@question_instance,@question_instance.answers.build],class:'answer-reply-form' do |f|%>
                <%= f.text_area :answer,placeholder:"type your answer...", rows:'4',class:'answer-reply-input' %>
                <%=f.hidden_field :user_id, value: current_user.id%>
                <div class="question-delete-form">
                <%= f.submit "Answer", class:"answer-reply-btn"%>
                </div>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%=  render 'layouts/right_sidebar'%>
  </div>
</div>