<div class="container-bg">
  <%= render 'layouts/navbar'%>
  <div class="explore-container">
    <%= render 'layouts/left_sidebar'%>
    <div class="section-middle">
      <div class="asking-section" id="question-asked">
        <div class="asking-card">
          <div class="qna-card">
            <div class="avtar-response">
              <% if get_dashboard_instance(@question_instance.user_id) %>
                <% if get_dashboard_instance(@question_instance.user_id).image.attached? %>
                  <%= image_tag get_dashboard_instance(@question_instance.user_id).image %>
                <% else %>
                  <%= image_tag 'https://aui.atlassian.com/aui/8.8/docs/images/avatar-person.svg' %>
                <% end %>
              <% else %>
                <%= image_tag 'https://aui.atlassian.com/aui/8.8/docs/images/avatar-person.svg' %>
              <% end %>
            </div>
            <div class="full-name-question">
              <h2 class="user-full-name">
                <%= get_user_full_name(@question_instance.user_id) %>
              </h2>
              <h5 class="question-time-stamp">
                <%=@question_instance.created_at.to_fs(:short)%>
              </h5>
              <div class="question">
                <p><%=@question_instance.question%></p>
                <% if @question_instance.user_id == current_user.id%>
                  <%= button_to 'Delete Question', question_path(@question_instance), method: :delete %>
                <%end%>
              </div>
              <div class="response">
                <% pre_like = @question_instance.question_reactions.find { |like| like.user_id == current_user.id} %>
                <% if pre_like %>
                  <%= button_to '',[@question_instance, pre_like], class: 'fa fa-thumbs-up like like-active', method: :delete %>
                <% else %>
                  <%= button_to '', question_question_reactions_path(@question_instance),
                    class: 'fa fa-thumbs-up like',
                    method: :post %>
                <% end %>
                &nbsp;
                <%=@question_instance.question_reactions.count%>
                <%=(@question_instance.question_reactions.count) == 1 ? 'Like' : 'Likes'%>
              </div>
              <h3><%=@question_instance.answers.count%> <%=(@question_instance.answers.count) == 1 ? 'Answer' : 'Answers'%></h3>
              <%#=
              q.answers.joins(:answer_reactions).select('answers.*, COUNT(answer_reactions.id) as answer_reactions_count').group('answers.id').order('answer_reactions_count DESC').inspect 
              %>
              <% @question_instance.answers.each do |a|%>
                <div class="answer">
                  <div class="avtar-response">
                    <% if get_dashboard_instance(a.user_id) %>
                      <% if get_dashboard_instance(a.user_id).image.attached? %>
                        <%= image_tag get_dashboard_instance(a.user_id).image %>
                      <% else %>
                        <%= image_tag 'https://aui.atlassian.com/aui/8.8/docs/images/avatar-person.svg' %>
                      <% end %>
                    <% else %>
                      <%= image_tag 'https://aui.atlassian.com/aui/8.8/docs/images/avatar-person.svg' %>
                    <% end %>
                  </div>
                  <div class="full-name-question">
                    <h2 class="user-full-name"><%= get_user_full_name(a.user_id) %></h2>
                    <h5 class="question-time-stamp">
                      <%=a.created_at.to_fs(:short)%>
                    </h5>
                    <div class="question">
                      <p><%=a.answer%></p>
                      <% if a.user_id == current_user.id%>
                        <%= button_to 'Delete Answer', [a.question, a], method: :delete %>
                      <%end%>
                    </div>
                    <div class="response">
                      <% pre_like = a.answer_reactions.find { |like| like.user_id == current_user.id} %>
                      <% if pre_like %>
                        <%= button_to '',[@question_instance,a, pre_like] ,class: 'fa fa-thumbs-up like like-active', method: :delete  %>
                      <% else %>
                        <%= button_to '',  question_answer_answer_reactions_path(@question_instance,a),class: 'fa fa-thumbs-up like', method: :post %>
                      <% end %>
                      &nbsp;
                      <%= a.answer_reactions.count %>
                      <%= (a.answer_reactions.count) == 1 ? 'Like' : 'Likes'%>
                    </div>
                  </div>
                </div>
              <% end %
              <%= form_for [@question_instance,@question_instance.answers.build] do |f|%>
                <%= f.text_field :answer,placeholder:"type your answer..." %>
                <%=f.hidden_field :user_id, value: current_user.id%>
                <%= f.submit "Answer", class:"answer-btn"%>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%=  render 'layouts/right_sidebar'%>
  </div>
</div>
<style>
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
    }

    .explore-container{
      display: flex;
    }
    /* .container{
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      background-image: linear-gradient(to bottom right, #e0f1ff, #e4edf9, #e7eaf3, #e7e8ec, #e6e6e6);
    } */
    .section-middle{
    flex: 4;
    }
    .ask-questions{
    display: flex;
    justify-content: center;
    margin: 1rem;
    }
    .ask-questions .question-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    }
    .question-form textarea{
    resize: none;
    border: none;
    padding: 5px;
    outline: none;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
    width: 100%;
    /* border-radius: 8px; */
    }
    .question-form .question-category{
    display: flex;
    justify-content:end;
    column-gap: 4px;
    align-items: center;
    }
    .question-category span{
    flex: 2;
    font-weight: 600;
    color: var(--text-heading);
    }
    .question-category input{
    flex: 2;
    height: 39px;
    border: none;
    outline: none;
    /* border-radius: 4px; */
    padding:5px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);

    }
    .button{
    /* border-radius: 4px; */
    background-color:#384955;
    color: #fff;
    font-size: var(--font-size);
    border: none;
    flex: 1;
    padding: 10px 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
    }
    .asking-section{
    max-height:89vh;
    overflow: auto;
    }
    .asking-section .asking-card{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    /* max-height:20%; */
    border-bottom: 1px solid #303841;
    /* border-radius: 8px; */
    /* overflow: auto; */
    padding: 10px;
    outline: none;
    /* box-shadow: 0 8px 16px -16px rgba(0, 0, 0, 0.3); */
    }

    .qna-card {
    display: flex;
    }
    .avtar-response{
    display: flex;
    flex-direction: column;
    /* align-items:center; */
    }

    .avtar-response img{
    width: 60px;
    clip-path: circle();
    margin-top: 4PX;
    }
    .full-name-question {

    }
    .full-name-question .user-full-name{
    color: var(--text-heading);
    }
    .full-name-question .question-time-stamp{
    color: var(--text-heading);
    }
    .full-name-question .question p{
    padding: 6px 0;
    font-size: var(--font-size);
    }
    .answer{
    display: flex;
    }
    .full-name-question h3{
    padding: 6px 0;
    color: var(--text-heading);
    }
    .response{
      display: flex;
      align-items: center;
      }
    .response .like{
      /* display: block; */
    font-size: 20px;
      background-color: transparent;
      outline: none;
      border: none;
    color: #999;
    cursor: pointer;
    }

    .response .like-active{
      color: #2155CD;
    }

    .like-value{
      display:inline;
    }
    @media only screen and (max-width: 950px){
    .section-middle{
          flex:content;
      }
      .explore-container{
          flex-wrap: wrap;
      }
    }
</style>
