<div class="container-bg">
  <%= render 'layouts/navbar'%>
  <div class="explore-container">
    <%= render 'layouts/left_sidebar'%>
    <div class="section-middle">
      <h3><%= params[:tag] %> questions</h3>
      <div class="asking-section" id="question-asked">
        <%@category_list.reverse_each do |q|%>
          <div class="asking-card">
            <div class="qna-card">
              <div class="avtar-response">
                <% if get_dashboard_instance(q.user_id) %>
                  <% if get_dashboard_instance(q.user_id).image.attached? %>
                    <%= image_tag get_dashboard_instance(q.user_id).image %>
                  <% else %>
                    <%= image_tag 'https://aui.atlassian.com/aui/8.8/docs/images/avatar-person.svg', class:'radius' %>
                  <% end %>
                <% else %>
                  <%= image_tag 'https://aui.atlassian.com/aui/8.8/docs/images/avatar-person.svg', class:'radius' %>
                <% end %>
              </div>
              <div class="full-name-question">
                <h3 class="user-full-name">
                  <%= get_user_full_name(q.user_id) %>
                </h3>
                <h5 class="question-time-stamp">
                  <%=q.created_at.to_fs(:short)%>
                </h5>
                <div class="question">
                  <p><%=link_to q.question, question_path(q)  %></p>
                </div>
                <div class="response">
                  <div class="response-reaction">
                    <% pre_like = q.question_reactions.find { |like| like.user_id == current_user.id} %>
                    <% if pre_like %>
                      <%= button_to '',[q, pre_like], class: 'fa fa-thumbs-up like like-active', method: :delete %>
                    <% else %>
                      <%= button_to '', question_question_reactions_path(q),
                    class: 'fa fa-thumbs-up like',
                    method: :post %>
                    <% end %>
                    &nbsp;
                    <%=q.question_reactions.count%>
                    <%=(q.question_reactions.count) == 1 ? 'Like' : 'Likes'%>
                  </div>
                </div>
                <h3><%=q.answers.count%> <%=(q.answers.count) == 1 ? 'Answer' : 'Answers'%></h3>
                <%#=
              q.answers.joins(:answer_reactions).select('answers.*, COUNT(answer_reactions.id) as answer_reactions_count').group('answers.id').order('answer_reactions_count DESC').inspect 
              %>
                <% q.answers.each do |a|%>
                  <div class="answer">
                    <div class="avtar-response">
                      <% if get_dashboard_instance(a.user_id) %>
                        <% if get_dashboard_instance(a.user_id).image.attached? %>
                          <%= image_tag get_dashboard_instance(a.user_id).image %>
                        <% else %>
                          <%= image_tag 'https://aui.atlassian.com/aui/8.8/docs/images/avatar-person.svg', class:'radius' %>
                        <% end %>
                      <% else %>
                        <%= image_tag 'https://aui.atlassian.com/aui/8.8/docs/images/avatar-person.svg', class:'radius' %>
                      <% end %>
                    </div>
                    <div class="full-name-question">
                      <h3 class="user-full-name"><%= get_user_full_name(a.user_id) %></h3>
                      <h5 class="question-time-stamp">
                        <%=a.created_at.to_fs(:short)%>
                      </h5>
                      <div class="question">
                        <p><%=a.answer%></p>
                      </div>
                      <div class="response">
                        <div class="response-reaction">
                          <% pre_like = a.answer_reactions.find { |like| like.user_id == current_user.id} %>
                          <% if pre_like %>
                            <%= button_to '',[q,a, pre_like] ,class: 'fa fa-thumbs-up like like-active', method: :delete  %>
                          <% else %>
                            <%= button_to '',  question_answer_answer_reactions_path(q,a),class: 'fa fa-thumbs-up like', method: :post %>
                          <% end %>
                          &nbsp;
                          <%= a.answer_reactions.count %>
                          <%= (a.answer_reactions.count) == 1 ? 'Like' : 'Likes'%>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <%end%>
      </div>
    </div>
    <%=  render 'layouts/right_sidebar'%>
  </div>
</div>
