<div class="container-bg">
  <%= render 'layouts/navbar'%>
  <div class="dashboard-container">
    <div class="dashboard-left-container">
      <div class="section-left">
        <% if @dashboard%>
          <div class="profile">
            <div class="profile-img radius">
              <% if @dashboard.image.attached? %>
                <%= image_tag @dashboard.image, class:'radius' %>
              <% else %>
                <%= image_tag 'https://aui.atlassian.com/aui/8.8/docs/images/avatar-person.svg', class:'radius' %>
              <% end %>
            </div>
            <div class="profile-details">
              <big><b><%=current_user.full_name%></b></big>
              <small>
                <b>
                  <ul>
                    <li><%=@dashboard.qualification%></li>
                    <li><%=@dashboard.city%></li>
                    <li><%=@dashboard.institute_name%></li>
                  </ul>
                </b>
              </small>
              <p>
                <%=@dashboard.bio%>
              </p>
              <i class="fas fa-edit">
                <%= link_to 'Edit Profile',edit_dashboard_path(@dashboard.id),  id:"edit-profile"%></i>
              <%# <a href="./edit_profile.html" id="edit-profile"><i class="fas fa-edit"></i>Edit Profile</a> %>
            </div>
          </div>
        <% else%>
          <div class="profile">
            <div class="profile-img radius">
              <%= image_tag 'https://aui.atlassian.com/aui/8.8/docs/images/avatar-person.svg', class:'radius' %>
            </div>
            <div class="profile-details">
              <big><b><%=current_user.full_name%></b></big>
              <small>
                <%= link_to 'Create Profile',new_dashboard_path,id:"edit-profile"%>
              </small>
              <%# <a href="./edit_profile.html" id="edit-profile">Edit Profile</a> %>
            </div>
          </div>
        <% end%>
        <div class="profile-buttons">
          <button type="button" class="btn questions-asked" id="questions">Questions Asked</button>
          <button type="button" class="btn questions-answered" id="answers">Questions Answered</button>
        </div>
        <div class="dashboard-asking-section" id="question-asked">
          <% @questions_asked.each do |q| %>
            <div class="asking-card">
              <div class="user-asked">
                <div class="card-profile-img radius">
                  <% if get_dashboard_instance(q.user_id) %>
                    <% if get_dashboard_instance(q.user_id).image.attached? %>
                      <%= image_tag get_dashboard_instance(q.user_id).image, class:'radius' %>
                    <% else %>
                      <%= image_tag 'https://aui.atlassian.com/aui/8.8/docs/images/avatar-person.svg', class:'radius' %>
                    <% end %>
                  <% else %>
                    <%= image_tag 'https://aui.atlassian.com/aui/8.8/docs/images/avatar-person.svg', class:'radius' %>
                  <% end %>
                </div>
                <div class="user-name">
                  <h4><%= get_user_full_name(q.user_id)%></h4>
                  <small><%=q.created_at.to_fs(:short)%></small>
                </div>
              </div>
              <div class="user-questions">
                <p>
                  <%= link_to q.question, question_path(q) %>
                </p>
              </div>
            </div>
          <% end %>
        </div>
        <div class="dashboard-asking-section" id="question-answered">
          <% @questions_answered.each do |q| %>
            <div class="asking-card">
              <div class="user-asked">
                <div class="card-profile-img radius">
                  <% if get_dashboard_instance(q.user_id) %>
                    <% if get_dashboard_instance(q.user_id).image.attached? %>
                      <%= image_tag get_dashboard_instance(q.user_id).image, class:'radius' %>
                    <% else %>
                      <%= image_tag 'https://aui.atlassian.com/aui/8.8/docs/images/avatar-person.svg', class:'radius' %>
                    <% end %>
                  <% else %>
                    <%= image_tag 'https://aui.atlassian.com/aui/8.8/docs/images/avatar-person.svg', class:'radius' %>
                  <% end %>
                </div>
                <div class="user-name">
                  <h4><%= get_user_full_name(q.user_id)%></h4>
                  <small><%=q.created_at.to_fs(:short)%></small>
                </div>
              </div>
              <div class="user-questions">
                <p>
                  <%= link_to get_question(q.id), question_path(q.question_id) %>
                </p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <%=  render 'layouts/right_sidebar'%>
  </div>
</div>
<script>
  let questionsBtn = document.getElementById("questions");
  let answersBtn = document.getElementById("answers");
  let questionAsked = document.getElementById("question-asked");
  let questionAnswered = document.getElementById("question-answered");

  questionsBtn.onclick = function () {
    questionAsked.style.display = "block";
      questionAnswered.style.display = "none";
      questionsBtn.style.backgroundColor = "#303841";
      answersBtn.style.backgroundColor = "#fff";
      answersBtn.style.color = "#303841";
      questionsBtn.style.color = "#fff";
  }
  answersBtn.onclick = function () {
      questionAsked.style.display = "none";
      questionAnswered.style.display = "block";
      questionsBtn.style.backgroundColor = "#fff";
      answersBtn.style.backgroundColor = "#303841";
      answersBtn.style.color = "#fff";
      questionsBtn.style.color = "#303841";
  }
</script>
