<section class="show" id="dashboard-form-EC">
  <!-- popup box start -->
  <div class="popup-outer">
    <div class="popup-box">
      <h4 class="pop-up-EC-heading">Add Details</h4>
      <%= form_for @dashboard,url:dashboard_index_path,class:'pop-up-form' do |f| %>
        <a href="./dashboard.html"><i id="close" class="bx bx-x close"></i></a>
        <%= f.hidden_field :user_id, value:current_user.id%>
        <div class="profile-text">
          <!-- <img src="profile.jpg" alt=""> -->
          <div class="text">
            <div class="profile-field">
              <label for="picture">Profile Picture</label><br>
              <%=f.file_field :image,accept:"image/x-png,image/gif,image/jpeg" %>
              <!-- <input type="text" name="name"> -->
            </div>
            <div class="profile-field">
              <label for="profession">Qualification</label><br>
              <%= f.text_field :qualification,placeholder:'Enter Qualifications' %>
            </div>
            <div class="profile-field">
              <label for="institute">Institute</label><br>
              <%= f.text_field :institute_name,placeholder: 'Enter Institute Name' %>
            </div>
            <div class="profile-field">
              <label for="city">City</label><br>
              <%= f.text_field :city,placeholder: 'Enter City Name' %>
            </div>
          </div>
          <div class="bio-field">
            <span class="bio">About</span>
            <%= f.text_area :bio,placeholder: 'Describe Your Self' %>
          </div>
        </div>
        <div class="profile-form-button">
          <%= link_to 'Cancel', dashboard_index_path%>
          <%= f.submit :Save, class:'send'%>
        </div>
      <% end %>
    </div>
  </div>
</section>
