<section class="signup-section">
  <div class="signup-photo-container">
  </div>
  <div class="signup-form-container">
    <div class="signup-form-inputs">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="signup-form">
          <div class="signup-form-left">
            <li><a href="#"><i class="fa-solid fa-cube"></i>studyclub</a></li>
            <p class="signup-sub-heading">Welcome To StudyClub Please Create Your Account</p>
            <div class="floating-label">
              <%= f.text_field :full_name,class:'floating-input', placeholder:'Full Name' %>
              <span class="highlight"></span>
            </div>
            <div class="floating-label">
              <%= f.email_field :email, class:'floating-input', placeholder:'Email' %>
              <span class="highlight"></span>
            </div>
            <div class="floating-label">
              <%= f.password_field :password, class:'floating-input', autocomplete: "new-password",placeholder:'Password' %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <span class="highlight"></span>
            </div>
            <div class="floating-label gender-selector">
              <%=f.select(:gender, [['Male', 'M'], ['Female', 'F']], class:'choose-gender')%>
            </div>
          </div>
          <div class="signup-form-right">
            <p class="signup-sub-heading">Welcome To StudyClub Please Create Your Account</p>
            <div class="floating-label">
              <%= f.text_field :user_name, class:'floating-input',placeholder:'User Name' %>
              <span class="highlight"></span>
            </div>
            <div class="floating-label">
              <%= f.text_field :phone, class:'floating-input',placeholder:'Phone' %>
              <span class="highlight"></span>
            </div>
            <div class="floating-label">
              <%= f.password_field :password_confirmation, class:'floating-input', autocomplete: "new-password",placeholder:'Confirm Password' %>
              <span class="highlight"></span>
            </div>
            <div class="floating-label">
              <%= f.date_field :dob, class:'floating-input' %>
              <span class="highlight"></span>
            </div>
          </div>
        </div>
        <div class="signup-action-btn signup-btn">
          <%= f.submit "Sign up" %>
          <h5>If already have an account?</h5>
          <%= link_to 'Sign In', new_user_session_path %>
        </div>
      <% end %>
    </div>
  </div>
</section>